@{
  Layout = "_Layout";
}

<h3>You created a new Contact<h3>

<form action="/AddressBook" method="get">
  <button type="submit" class="btn btn-info">View Address Book</button>
</form>
<br>
<form action="/AddressBook/New" method="get">
  <button type="submit" class="btn btn-info">Add a New Contact</button>
</form>
