<h1>@Model.GetName()</h1>

<p>Phone Number: @Model.GetNumber()</p1>
<p>Address: @Model.GetAddress()</p1>
<br><br>

<form action="/AddressBook" method="get">
  <button type="submit">View Address Book</button>
</form>

<form action="/AddressBook/New" method="get">
  <button type="submit">View Address Book</button>
</form>
