<h3>You created a new Contact<h3>

<form action="/AddressBook" method="get">
  <button type="submit">View Address Book</button>
</form>

<form action="/AddressBook/New" method="get">
  <button type="submit">Add a New Contact</button>
</form>
