<h1>Add a Contact</h1>
<p>Add a new contact here:</p>
<form action="/AddressBook/New/Contact" method="post">
  <label for="name-contact">Name: </label>
  <input id="name-contact" name="name-contact" type="text">
  <label for="number-contact">Phone Number: </label>
  <input id="number-contact" name="number-contact" type="text">
  <label for="address-contact">Address: </label>
  <input id="address-contact" name="address-contact" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
