<h1>Add a Contact</h1>
<p>Add a new contact here:</p>
<form action="/categories" method="post">
  <label for="name-contact">Category name</label>
  <input id="name-contact" name="name-contact" type="text">
  <label for="number-contact">Category name</label>
  <input id="number-contact" name="number-contact" type="text">
  <label for="address-contact">Category name</label>
  <input id="address-contact" name="address-contact" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
