@{
  Layout = "_Layout";
}

<h1>Address Book</h1>

<h3>Welcome to Hansen's Address Book</h3>

<br>
<form action="/AddressBook" method="get">
  <button type="submit" class="btn btn-info">View Address Book</button>
</form>
<br>
<form action="/AddressBook/New" method="get">
  <button type="submit" class="btn btn-info">Add a New Contact</button>
</form>
