@{
  Layout = "_Layout";
}

<h1>Address Book</h1>
@if (@Model.Count == 0)
{
  <h3>No contact have been added yet!</h3>
}
@foreach (var contact in Model)
{
  <h3><a href='/AddressBook/@contact.GetId()'>@contact.GetName()</a></h3>
}

<br>
<form action="/" method="get">
  <button type="submit" class="btn btn-info">Home</button>
</form>
<br>
<form action="/AddressBook/Clear" method="post">
  <button type="submit" class="btn btn-info">Clear All Tasks</button>
</form>
