input{
  font-size: inherit;
   width: 30%;
   margin: 0.1em 0.2em;
   -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box;
   box-sizing: content-box;
   border: 1px solid #f90;
   background-color: #fff;
}

h1{
  text-align: center;
  margin-bottom: 40px;
}
